[flake8]
select = ANN,B,B9,BLK,C,D,DAR,E,F,I,W
max-complexity = 10
ignore = E203,W503,E501,ANN101,ANN401,B905
max-line-length = 80
application-import-names= python,tests
import-order-style = google
docstring-convention = google
per-file-ignores =
    tests/*:S101,ANN,DAR
exclude =
    .venv
    .nox
    noxfile.py
